.btns-wrap
{
  bottom: 20px;
  left: 20px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 9000;
}


.btn
{
  user-select: none;
  background: blue;
  text-align: center;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
}


.help
{
    background-color: red;
}

#info
{
  z-index: 9900;
  background-color: #333333;
  position: absolute;
  color: white;
  display: none;
  margin: 5%;
  padding: 4%;
  max-height: 600px;
  min-width: 250px;
  max-width: 400px;
  top: 5%;
  left: 45%;
  transform: translate(-50%, -5%);

  overflow: auto;
}
