.btns-wrap
{
  bottom: 20px;
  left: 20px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 9000;
}


.btn
{
  user-select: none;
  background: blue;
  width: 60px;
  height: 60px;
  text-align: center;
  display: inline-block;
}


.help
{
    background-color: red;
}
